<div>
    <p class="h1 searchHeading">STOCK SEARCH</p>
    <form class="searchForm" *ngIf="{loading: loading$ | async} as obs">
        <div class="searchInput">
            <mat-form-field class="example-full-width" appearance="none">
                <input type="text" @.disabled placeholder="Enter stock name" aria-label="Number" matInput
                    [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getTicker($event.option.value)'>
                    <mat-option *ngIf="obs.loading">
                        <mat-spinner diameter="35"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!obs.loading">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option.ticker">
                            {{ displayOptions(option) }}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <i (click)="openDetailsPage();">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="#6e40f4"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
            </i>
        </div>
    </form>
</div>